// Font colors
$clr-font-prim: hsl(229, 6%, 66%);
$clr-font-scnd: hsl(234, 12%, 34%);


// UI colors
$clr-red: hsl(0, 78%, 62%);
$clr-cyan: hsl(180, 62%, 55%);
$clr-orange: hsl(34, 97%, 64%);
$clr-blue: hsl(212, 86%, 64%);

// Font weights
$fw-thin: 200;
$fw-normal: 400;
$fw-bold: 600;
